# Python
venv/
__pycache__/
*.pyc

# Django
.env
backend/.env
db.sqlite3
media/
staticfiles/

# Node
node_modules/
frontend/node_modules/

# Build
frontend/build/

# Docker
postgres_data/

# Celery
celerybeat-schedule*
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db